.minhaimagem {
  border-radius: 20px; 
  width: 300px; 
  height: 500px; 
}
  td {
    border: 1px solid black; 
    padding: 8px; 
  }
  body{
    background-color: rgb(191, 231, 231);
  }
  h1 {
  color: rgb(206, 101, 4); 
  text-align: center;
}
p {
  font-size:20px; 
  text-align: justify; 
}
  ul li {
        margin-bottom: 10px; /* Adiciona espaço abaixo de cada item da lista */
    }
    table {
  width: 100%; 
  border-collapse: collapse; 
}

a:hover {
  color: red;
}
